.footerLogo {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}
  
.item {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

@media (max-width: 768px) {
  .footerLogo {
    max-width: none;
    align-items: center;
  }
}
