.cover {
    display: none;
    position: fixed;
    background-color: black;
    opacity: 0.2;
    top: 130px;
    width: 100%;
    height: 100vh;
    z-index: 20;
}

.coverShow {
    display: block;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    left: -100%;
    z-index: 21;
    width: 450px;
    height: 100vh;
    background-color: white;
    transition: 0.2s ease all;
    top: 130px;
    border: solid 2px white;

}

.menuLevel2 {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    background-color: white;
    top: 135px;
    width: 300px;
    left: 450px;
    height: 100vh;
    z-index: 20;
    border-left: 1px solid #C2C4D2;
    padding: 11px 30px 0 30px;
    transition: 0.2s ease all;
    opacity: 0;
}

.menuLevel2Show {
    visibility: visible;
    opacity: 1;
}

.menuShow {
    visibility: visible;
    left: 0;
}

.htag {
    color: var(--orange-01);
    margin: 0;
    margin-bottom: 30px;
}

.catalog {
    display: none;
}

@media (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -100%;
        visibility: hidden;
        z-index: 21;
        width: 100%;
        height: 100vh;
        padding-top: 35px;
        background-color: white;
        transition: 0.2s ease all;
        top: 0;
        border: solid 2px white;
        overflow: scroll
    }

    .menuShow {
        visibility: visible;
        left: 0;
    }

    .coverShow {
        display: none;
    }


    .catalog {
        display: flex;
        margin-bottom: 35px;
        margin-left: 17px;
        align-items: center;
    }

    .catalogText {
        padding: 0;
        color: var(--grey-02);
    }

  }