.h2 {
    font-size: 32px;
    color: var(--grey-02);
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .h2 {
        font-size: 28px;
        color: var(--grey-02);
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 30px;
    }
  }
