.index_wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.h2 {
    margin: 0 auto;
    padding: 0 auto;
}

.cart_htag {
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
    color: var(--grey-01);
    margin: 0;
    margin-bottom: 63px;
}