.index_wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.h2 {
    margin: 0 auto;
    padding: 0 auto;
}

.cart_htag {
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
    color: var(--grey-01);
    margin: 0;
    margin-bottom: 63px;
}

@media (max-width: 1200px) {

}

@media (max-width: 998px) {
    .index_wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .index_wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .index_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}